/server/htdocs/scripts/*/*
/server/htdocs/staff/*
!/server/htdocs/staff/composer.json
!/server/htdocs/staff/functions.php
!/server/htdocs/staff/composer_install.sh
!/server/htdocs/staff/config
/server/htdocs/staff/vendor
